body {
    font-family: sans-serif;
}

.headerMain {
    margin-bottom: 75px;
    background-color: #222;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-image: url('http://via.placeholder.com/350x150');
}

.headingtext {
    color: white;
    padding: 150px 0;
}

.text{
    font-size: 25px;
}

.content {
    position: relative;
    top: 30%;
    padding: 20px 15px;
    background: rgba(255,255,255,0.35);
    backdrop-filter: grayscale(80%);
}    

.btn:hover{
    cursor: pointer;
}

.text-align{
    text-align: justify;
}
